name: CI

on:
  push:
    paths-ignore:
      - '.gitattributes'
      - '.github/*'
      - '.gitignore'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.gitattributes'
      - '.github/*'
      - '.gitignore'
      - 'README.md'

jobs:
  Build:
    name: Build ${{matrix.preset.name}}
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        preset:
          - { name: "Debug",        file: "build/Debug/spt.dll" }
          - { name: "Debug 2013",   file: "build/Debug/spt-2013.dll" }
          - { name: "Debug BMS",    file: "build/Debug/spt-bms.dll" }
          - { name: "Debug OE",     file: "build/Debug/spt-oe.dll" }
          - { name: "Release",      file: "build/Release/spt.dll" }
          - { name: "Release 2013", file: "build/Release/spt-2013.dll" }
          - { name: "Release BMS",  file: "build/Release/spt-bms.dll" }
          - { name: "Release OE",   file: "build/Release/spt-oe.dll" }
    steps:
      - name: Checkout SPT
        uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init -j $env:NUMBER_OF_PROCESSORS SPTLib
      - name: Configure CMake
        run: cmake --preset base-x86
      - name: Build
        run: cmake --build --preset "${{matrix.preset.name}}"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.preset.name}}
          path: ${{github.workspace}}/${{matrix.preset.file}}
          if-no-files-found: error
